@import 'bootstrap/dist/css/bootstrap.min.css';
@import "@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: "Circular-Std", sans-serif;
}/* You can add global styles to this file, and also import other style files */
