@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@ng-select/ng-select/themes/default.theme.css';

body {
  font-family: 'Circular-Std', sans-serif;
}

/* placing fonts here for time being would setup a sass file structure font.scss */
